/*Google Font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Akshar:wght@300&family=Kdam+Thmor+Pro&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}